* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 4vh 4vw;
  background-color: #f5f5f5;
}

.header {
  height: 225px;
  position: relative;
}

.hamburger-menu {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
}

.hamburger-menu hr {
  border-top: solid 2px #424242;
  margin-top: 4px;
}

.header h2 {
  font-weight: 300;
  display: block;
  float: left;
  margin-left: 20px;
  font-size: 1.4em;
  color: #696b6c;
}

.tagline {
  position: absolute;
  font-weight: 300;
  color: #696b6c;
  font-size: 1.7em;
  top: 100px;
  left: 10px;
}

.language {
  display: none;
}

.search {
  float: right;
}

h2 {
  display: none;
}

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  color: white;
  width: 92vw;
  height: 340px;
}

.hero1 {
  background-image: url("../img/hero1.jpg");
}

.hero:before {
display: block;
content: '';
position: relative;
width: 100%;
height: 100%;
background-image: linear-gradient(to bottom, transparent 0%, black 30%);
opacity: .3;
}

.hero .hero-text {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 75%;
}

.hero p:first-child {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.hero p:nth-child(2) {
  font-size: .85em;
  font-weight: 300;
}

.story {
  position: relative;
  overflow: auto;
  width: 92vw;
  background-color: white;
  margin-top: 3vh;
  box-shadow: 1px 3px 3px lightgrey;
}

.img-container {
  width: 35%;
  float: left;
  margin: 2% 3% 2% 2%;
}

.story img {
  width: 100%;
}

.text {
  margin: 3% 2% 3% 0;
  width: 58%;
  float: right;
}

.text p:first-child {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #424242;
  margin-bottom: 10px;
}

.category p {
  font-weight: 300;
  font-size: .9em;
  color: #828282;
}

.category i {
  color: #828282;
  font-size: 1.1em;
  position: relative;
  top: 4px;
  right: 5px;
}

.hero2 {
  background-image: url("../img/hero2.jpg");
  margin-top: 3vh;
}

.hero2 i {
  font-size: 1.2em;
  margin-right: 20px;
}

@media screen and (min-width: 600px) {

  .hero .hero-text {
    top: 65%;
    width: 60%;
  }

  .hero p:first-child {
    margin-bottom: 30px;
  }

  .story {
    width: 44vw;
    height: 340px;
    float: left;
    overflow: hidden;
  }

  .story:nth-child(2n+1) {
    margin-right: 4vw;
  }

  .img-container {
    float: none;
    overflow: hidden;
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .text {
    float: none;
    width: 100%;
    text-align: center;
  }

  .text p {
    padding: 25px;
    margin: 0;
  }

  .category i {
    font-size: 1.3em;
  }

  .category {
    position: absolute;
    transform: translateX(-50%);
    top: 82%;
    left: 50%;
    width: 100%;
    font-size: .7em;
  }

  .stories:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media screen and (min-width: 1000px) {

  body {
    padding: 0;
  }

  .body {
    padding: 4vh 4vw;
  }

  .header {
    background-image: url("../img/head-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    padding: 4vh 4vw;
  }

  .language, .language p, .language i {
    float: left;
  }

  .language {
    margin-left: 20px;
    padding-top: 10px;
    color: #696b6c;
  }

  .language i {
    font-size: 1em;
    margin-left: 20px;
  }

  .search {
    float: right;
  }

  .tagline {
    position: absolute;
    font-weight: 300;
    color: #696b6c;
    font-size: 2.6em;
    top: 200px;
    left: 65px;
  }

  .body h2 {
    display: block;
    font-size: 1.9em;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .hero {
    float: left;
    width: 45vw;
    height: 360px;
  }

  .hero .hero-text {
    top: 55%;
    width: 70%;
  }

  .hero p:first-child {
    margin-bottom: 60px;
  }

  .hero1 {
    margin-right: 2vw;
  }

  .story {
    width: 21.5vw;
    height: 360px;
    margin: 0;
  }

  .story:first-of-type, .story:nth-child(n+3) {
    margin-right: 2vw;
  }

  .story:nth-child(n+3) {
    margin-top: 3vh;
  }

  .stories:after {
    clear: none;
  }

  .img-container {
    height: 40%;
  }

  .img-container img {
    width: auto;
    height: 100%;
  }
}
